<div class="container mt-3">
  <div class="row d-flex">
    <div class="col-sm-8 offset-sm-2">
      <article>
        <h1>
          <%= @article.title %>
          <small>

            <%= link_to edit_article_path(@article) do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>

            <%= link_to article_path(@article), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </small>
        </h1>
        <hr>
        <p>
          <%= @article.content %>
        </p>
      </article>
    </div>
  </div>
</div>
